<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Tela de Testes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Bem-vindo(a) à Tela de Testes</h1>
    <p>Clique para abrir a próxima tela.</p>
    <ion-button routerLink="/tela01">Entrar</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© Mareson Libório 2023 - Arquivo de testes</ion-title>
  </ion-toolbar>
</ion-footer>
